@section scripts{
    <script src="~/Scripts/app/index.js"></script>
    <script src="~/Scripts/app/constants.js"></script>
    <script src="~/Scripts/app/game.js"></script>
    <script src="~/Scripts/app/sessionStorageService.js"></script>
    <script src="~/Scripts/app/gameService.js"></script>
    <script src="~/Scripts/app/rpsSelection.js"></script>
}
<div ng-app="gameApp">
    <game></game>
</div>