<div class="mt-4">
    <div class="btn btn-default" ng-click="$ctrl.selectionChange($ctrl.selectionOptions.Rock)" ng-class="{'selected': $ctrl.selection == $ctrl.selectionOptions.Rock}">
        <img src="../../Content/assets/rock.png" class="option-image" />
    </div>
    <div class="btn btn-default" ng-click="$ctrl.selectionChange($ctrl.selectionOptions.Paper)" ng-class="{'selected': $ctrl.selection == $ctrl.selectionOptions.Paper}">
        <img src="../../Content/assets/paper.png" class="option-image"/>
    </div>
    <div class="btn btn-default" ng-click="$ctrl.selectionChange($ctrl.selectionOptions.Scissors)" ng-class="{'selected': $ctrl.selection == $ctrl.selectionOptions.Scissors}">
        <img src="../../Content/assets/scissors.png" class="option-image" />
    </div>
</div>